<!doctype html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>MAIN PAGE</title>
</head>


<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">HEMPREPORT</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/upload">Create</a>
        <a class="p-2 text-dark" href="/view">Posts</a>
    </nav>
</div>
</header>


<body>


<div class="container">
<!--div class="space_ceiling"></div-->

    <h1>MAIN PAGE</h1>
    <h6>here you can find a reports of cannabis growing</h6>
    <br>
    <a href="/new_plant" class="btn btn-outline-light">&nbsp; New &nbsp; plant &nbsp;</a>
    <br><br><br>
    
    <div class="container">
    
    {% if plants %}
        <div class="row rounded">
            {% for key in plants %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img src="static\photos\{{ plants[key][2] }}" class="card-img-top" alt="PLANT 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ plants[key][0] }}</h5>
                        <p class="card-text">{{ plants[key][1] }}</p>
                        <a href="#" class="btn btn-primary">REPORT</a>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no plants yet...</p>
    {% endif %}
                    
                    
    
    <!--div class="container">
        
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="PLANT 1">
                    <div class="card-body">
                        <h5 class="card-title">DC Cure 1:1</h5>
                        <p class="card-text">Medical strain with a high CBD content</p>
                        <a href="#" class="btn btn-primary">REPORT</a>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div-->
    
    
    </div>
    

    
<div class="space_bottom">
</div>

</div>


</body>

<footer class="container">
    <h6 class="float-right"><a href="#">Back to top</a></h6>
    <h6>© 2020 UARSA DEVELOPMENT. · <a href="#">Privacy</a> · <a href="#">Terms</a></h6>
</footer>
