<!doctype html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>CREATE</title>
</head>

<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">HEMPREPORT</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Home</a>
      <a class="p-2 text-dark" href="/upload">Create</a>
      <a class="p-2 text-dark" href="/view">Posts</a>
  </nav>
</div>
</header>


<body>


<div class="container">

  <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-8">
        <input type="text" name="description" id="description" class="form-control" placeholder="description">
      </div>
      <div class="col">  
        <input type="text" name="temp" id="temp" class="form-control" placeholder="temp">
      </div>
      <div class="col">
        <input type="text" name="humidity" id="humidity" class="form-control" placeholder="humidity">
      </div>    
    </div>
    <br>
    <p><input type="file" name="photo">
    <p><input type="submit" class="btn btn-success" value="Upload">
  </form>

</div>


</body>


<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2020 UARSA DEVELOPMENT. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
